<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.dev.misnotes"
        versionCode = "1"
        version     = "1.0.0" >
    <name>mis</name>
    <description>
    	simple notes for MIS.
    </description>
    <author href="" email="deepakkumar85418263@gmail.com">
    	dev
    </author>
    <preference name="SplashScreenDelay" value="4000"/>
    <!--default icon -->
    <icon src="icon.png"/>
	<icon src="images/icons/icon-small.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="images/icons/icon-small.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="images/icons/icon-medium.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="images/icons/icon-medium.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="images/icons/icon-big.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="images/icons/icon-big.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />    	

    <!-- default splash screen -->
    <gap:splash src="splash.9.png"/>
    <gap:splash src="images/splash/drawable-mdpi/splash.9.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="images/splash/drawable-mdpi/splash.9.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="images/splash/drawable-hdpi/splash.9.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="images/splash/drawable-xhdpi/splash.9.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="images/splash/drawable-xxhdpi/splash.9.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
	<gap:splash src="images/splash/drawable-xxxdpi/splash.9.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
	<gap:splash src="images/splash/drawable-xxxdpi/splash.9.png" gap:platform="android" gap:qualifier="land-xxhdpi" />	
    <preference name="SplashScreenDelay" value="3000"/>
</widget>